.banner {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    max-width: 1440px;
    height: auto;
  }
}

.post {
  margin: 5rem 0;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--heading);
  }

  .info {
    color: var(--info);
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 4rem;

    li {
      list-style: none;
      align-items: center;
      display: flex;

      & + li {
        margin-left: 1.5rem;
      }

      .listItem {
        margin-left: 0.5rem;
        font-size: 0.875rem;
      }
    }

  }

  .postContent {
    margin-bottom: 4rem;

    .contentHeading {

        font-size: 2.25rem;
        font-weight: 700;
        color: var(--heading);
        margin-bottom: 2.25rem;
    }

    .contentBody {
      line-height: 1.575rem;
      font-size: 1.125rem;

      p, ul, ol {
        margin: 1.5rem 0;
        text-align: justify;
      }

      ul, ol {

        li {
            margin: 0.5rem 0;
        }
      }

      img {
        max-width: 600px;
        margin: 2rem 0;
      }


    }


  }
}
